config/nvim/plugged
config/nvim.std/plugged
config/tmux/plugins
config/kitty/kitty-themes
config/kitty/theme.conf
config/nvim/plugin/*
config/nvim/lazy-lock.json
config/alacritty/themes/
.zsh_theme
config/alacritty/theme.toml
config/rofi/theme.rasi
config/rofi/themes/collection/
config/hypr/conf.d/*
!config/hypr/conf.d/.gitkeep
