config/nvim/plugged
config/nvim.std/plugged
config/tmux/plugins
config/kitty/kitty-themes
config/kitty/theme.conf
config/nvim/plugin/*
config/nvim/lazy-lock.json
config/alacritty/themes/*
config/alacritty/current.theme.toml
