snippet ednl "// eslint-disable-next-line" b
// eslint-disable-next-line
endsnippet
snippet cygwt "Scaffold a Behavior Driven Development test with Cypress" b
describe('GIVEN $1', () => {
  context('WHEN $2', () => {
    before(() => {
    })
    it('THEN should $3', () => {
    })
  })
})
endsnippet
snippet vitest "Vitest heading" b
import { describe, test, expect } from 'vitest'
endsnippet
